
<div bloodLoader [display]="isLoadingPost" *ngIf="isLoadingPost; else elseBlock"></div>

<ng-template #elseBlock>
    <section class="row fadeInUp animated" role="main">
        <article class="post list small-12">
            <h3 class="post__title">
                <span class="post__title-text" [innerHTML]="postData.title.rendered"></span>
            </h3>

            <div class="post__meta">
                <time class="post__meta-date" [attr.datetime]="postData.date">
                    <span class="post__meta-icon"><i class="icon-elt" bpSvg [svgName]="'calendar'" ></i></span>{{postData.date | date : 'd MMMM yyyy'}}
                </time>
                <span class="post__meta-comment"  *ngIf="postData.comment_status === COMMENT_STATUS.OPEN"><span class="post__meta-icon"><i class="icon-elt" bpSvg [svgName]="'speech'"></i></span>{{postData.comments.length}} commentaire<span *ngIf="postData.comments.length>1">s</span></span>
                <span class="post__meta-category" *ngIf="postData.categories && postData.categories.length"><span class="post__meta-icon"><i class="icon-elt" bpSvg [svgName]="'tag'"></i></span>Livre</span>
            </div>
            <div class="post__content" [innerHTML]="postData.content.rendered | bpSanitizer : 'html'"></div>
            <!-- COMMENTS -->
            <div class="post__comments">
                <!-- COUNT -->
                <p class="post__comments-count">
                    <span *ngIf="postData.comments.length === 0">Aucun commentaire à ce sujet</span>
                    <span *ngIf="postData.comments.length>0">{{postData.comments.length}} commentaire<span *ngIf="postData.comments.length>1">s</span> à ce sujet</span>
                </p>
                <!-- FORM -->
                <comment-form [postId]="postData.id"></comment-form>
                <!-- ITEMS -->
                <bp-comment [comment]="comment" *ngFor="let comment of postData.comments;"></bp-comment>
            </div>
        </article>
    </section>
</ng-template>
