
/* ===========================================
 * Author
 * =========================================== */

/* All styles related to the author part
 * ==================================== */

:host {
    flex: 1 0 100%;
}

@import '../../../scss/core/scss/util/util';
@import '../../../scss/core/scss/settings/settings';
@import '../../../scss/components/variables';

.post {

    margin-bottom: 10px;
    padding: 20px 40px;

    .post__title {

        margin: 0;

        .post__title-text {

            color: $primary-color;
            font-size: $global-font-size * 2; // Using global value to bring harmony on spacing
            // font-size: 32px;
            transition: $default-transition;
        }
    }

    &.list {

        .post__title-text {

            &:hover {
                color: darken($primary-color, 10%);
            }
        }
    }

    &.single {

        .post__title {

            margin-top: 3rem;
        }
    }

    .post__title,
    .post__meta {
        text-align: center;
    }

    // Common
    .post__meta,
    .post__content,
    .post__extract {

        color: $white;
        font-family: Tahoma;
    }

    .post__content,
    .post__extract {

        margin-top: $global-margin * 4;
        text-align: justify;
    }

    // META
    .post__meta-date,
    .post__meta-category {
        font-size: 14px;
    }

    .post__meta-category {
        margin-left: 10px;
    }

    // ICONS
    .post__meta-icon {

        color: $primary-color;
        display: inline-block;
        margin-right: $global-margin/2;

        /deep/ .icon {

            height: 20px;
            vertical-align: top;
            width: 20px;
        }
    }

    //  CONTENT
    .post__content,
    .post__extract {

        font-size: 20px;

        .more-link {
            display: block;
        }
    }

    .post__comments-form-title {
        color: $white;
        font-family: Tahoma;
    }

    // Feeds bigger devices
    @include breakpoint('medium'){

        padding: 10px 20px;

        .post__title {

            .post__title-text {
                font-size: 48px;
            }
        }

        .post__content {

            h1 {
                font-size: $global-font-size * 2;
            }

            h2 {
                font-size: $global-font-size * 1.25;
            }
        }
    }

    @include breakpoint('large'){

        .post__title {

            .post__title-text {
                font-size: 56px;
            }
        }
    }
}

