<header class="header" smartMenu [menuIds]="menuLinks">
    <nav>
        <!-- <pre [ngStyle]="{'background': 'white'}">{{linkIndex | async | json}}</pre> -->
        <ul class="header__nav row">
            <li *ngFor="let link of menuLinks; let i = index" class="small-6 medium-4 large-2">
                <a class="nav__link" (click)="setMenuIndex(i)" [ngClass]="{'current': (linkIndex | async)?.index === i && isRouteActivated('')}" [routerLink]="['/']" *ngIf="link.page_id !== 'blog'; else elseBlock" fragment="{{link.page_id}}" [href]="link.page_id" [innerHTML]="link.title" role="button"></a>
                <ng-template #elseBlock><a class="nav__link" (click)="setMenuIndex(i)" [ngClass]="{'current': (linkIndex | async)?.index === i && isRouteActivated(link.page_id)}" [routerLink]="link.page_id" [href]="link.page_id" [innerHTML]="link.title" role="button"></a></ng-template>
            </li>
        </ul>
    </nav>
</header>
