
<bp-book [datas]="[]" data-item-order="1"></bp-book>
<bp-author [datas]="[]" data-item-order="2"></bp-author>
<bp-extracts [datas]="[]" data-item-order="3"></bp-extracts>
<bp-contact [datas]="[]" data-item-order="4"></bp-contact>
<!-- <p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p> -->
<!-- <sd-navbar></sd-navbar> -->
<!-- <form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul> -->
