/* ===========================================
 * Book
 * =========================================== */

/* All styles related to the book part
 * ==================================== */

@import '../../../../scss/core/scss/util/util';
@import '../../../../scss/core/scss/settings/settings';
@import '../../../../scss/components/variables';
@import '../../../../scss/core/scss/util/breakpoint';

:host {
    flex: 1 0 100%;
}

:host /deep/ .icon .svg {
    fill: red;
}

.book {

    background: $secondary-color;
    padding-bottom: 50px;

    // Feeds bigger devices
    @include breakpoint('medium'){

        padding-bottom: 80px;
    }
}

.book-cover {

    .book-cover__image {

        text-align: center;

        // Feeds bigger devices
        @include breakpoint('medium'){

            padding: 0 5%;
        }
    }

}

.book-tease {

    padding: 80px 32px 0;

    blockquote {

        border-left: none;

        p,
        cite {
            transition: $default-transition;
        }

        p {
            color: $white;
            font-size: 22px;
        }

        cite {

            color: $primary-color;
            font-size: 18px;
        }
    }

    // Feeds bigger devices
    @include breakpoint('medium'){

        padding: 115px 16px 0;

        blockquote {

            p {
                font-size: 25px;
            }

            cite {
                font-size: 20px;
            }
        }
    }

}


.book-retailers {

    color: $primary-color;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;

    &:nth-child(odd){

        color: $white;

        .icon {

            fill: $white;
        }
    }

    &__info { // Forbidden but rarely used :D heheheeeheehe

        font-size: 30px;
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 90px;
    }

    .icon {

        .svg {
            fill: currentColor;
            width: 50%;
        }
    }

    // Feeds bigger devices
    @include breakpoint('large'){

        &:first-child {
            margin-top: 110px;
        }

        .icon {

            .svg {
                width: 25%;
            }
        }
    }
}
