<section id="evenements" class="events">

    <div class="pagination">
        <div class="pagination-number">
            <p class="pagination-number__shape">
                <span class="pagination-number__text">3</span>
            </p>
        </div>
    </div>
    <div class="row">
        <h4 class="title">Différents évènements auxquels je participe :</h4>
        <!-- Event -->
        <!-- @TODO: Rich HTML5 snippet to give this meaning -->
        <div class="event is-hidden">
            <h5 class="event-title">Foire du Mans</h5>
            <p class="event-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis earum maiores eos culpa reprehenderit. Nam incidunt repudiandae, ipsa itaque eligendi modi quaerat accusamus laudantium quidem, qui quasi officiis sint!</p>
            <div class="event-date">
                <i class="icon-elt" bpSvg [svgName]="'calendar'"></i>
                <span>15 juin 2015 ( 9h - 19h )</span>
            </div>
            <div class="event-location">
                <i class="icon-elt" bpSvg [svgName]="'map'"></i>
                <span>1 Avenue Parc des Expositions, 72100 Le Mans</span>
            </div>
            <div class="event-contact">
                <i class="icon-elt" bpSvg [svgName]="'telephone'"></i>
                <a href="tel:+33243725100" class="phone-link">02 43 72 51 00</a>
            </div>
        </div>

        <!-- Event -->
        <!-- @TODO: Rich HTML5 snippet to give this meaning -->
        <div class="event is-hidden">
            <h5 class="event-title">Bibliothèque nationale de France</h5>
            <p class="event-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis earum maiores eos culpa reprehenderit. Nam incidunt repudiandae, ipsa itaque eligendi modi quaerat accusamus laudantium quidem, qui quasi officiis sint!</p>
            <div class="event-date">
                <i class="icon-elt" bpSvg [svgName]="'calendar'"></i>
                <span>15 juin 2015 ( 9h - 19h )</span>
            </div>
            <div class="event-location">
                <i class="icon-elt" bpSvg [svgName]="'map'"></i>
                <span>Quai François Maurice, 75013 Paris</span>
            </div>
            <div class="event-contact">
                <i class="icon-elt" bpSvg [svgName]="'telephone'"></i>
                <a href="tel:+33243725100" class="phone-link">02 43 72 51 00</a>
            </div>
        </div>

        <!-- Event -->
        <!-- @TODO: Rich HTML5 snippet to give this meaning -->
        <div class="event finished">
            <h5 class="event-title">2e Salon du Livre d'Auchan</h5>
            <p class="event-content">Crée en 2014, le Salon du livre D'Auchan réunit chaque année des auteurs locaux issus des terroirs sarthois.</p>
            <div class="event-date">
                <i class="icon-elt" bpSvg [svgName]="'calendar'"></i>
                <span>28 Mars 2015 ( 14h - 18h )</span>
            </div>
            <div class="event-location">
                <i class="icon-elt" bpSvg [svgName]="'map'"></i>
                <a class="map-link" href="https://www.google.fr/maps/place/Auchan/@48.0382707,0.1599712,15z/data=!3m1!5s0x47e2887c57ebcf05:0x7edf0a3a5699336c!4m8!1m2!2m1!1sZAC+du+Moulin+aux+Moines+La+Chapelle-Saint-Aubin,+Pays+De+La+Loire,+France!3m4!1s0x0:0x903bf9c366ec1d5f!8m2!3d48.0439187!4d0.1741317" rel="noopener noreferrer" target="_blank">ZAC du Moulin aux Moines La Chapelle-Saint-Aubin, Pays De La Loire, France</a>
            </div>
            <div class="event-contact">
                <i class="icon-elt" bpSvg [svgName]="'telephone'"></i>
                <a href="tel:+33243725100" class="phone-link">02 43 83 13 00</a>
            </div>
        </div>

        <!-- Event -->
        <!-- @TODO: Rich HTML5 snippet to give this meaning -->
        <div class="event finished">
            <h5 class="event-title">25e Heure du Livre</h5>
            <p class="event-content">Créée en 1978, l’association “La 25e Heure du Livre” réunit amateurs de littérature et  professionnels du livre avec le souci d’ouvrir au plus grand nombre l’accès à la culture.</p>
            <div class="event-date">
                <i class="icon-elt" bpSvg [svgName]="'calendar'"></i>
                <span>10 - 15 Octobre 2015 ( 10h - 19h )</span>
            </div>
            <div class="event-location">
                <i class="icon-elt" bpSvg [svgName]="'map'"></i>
                <a class="map-link" href="https://www.google.fr/maps/place/5+Rue+des+Jacobins,+72100+Le+Mans/@48.0072031,0.1970145,17z/data=!3m1!4b1!4m5!3m4!1s0x47e288d1bd2828f1:0x7003f13d9e4b0bd!8m2!3d48.0072031!4d0.1992085" rel="noopener noreferrer" target="_blank"> 5 Rue des Jacobins 72000 Le Mans, France</a>
            </div>
            <div class="event-contact">
                <i class="icon-elt" bpSvg [svgName]="'telephone'"></i>
                <a href="tel:+33243725100" class="phone-link">02 43 24 09 68</a>
            </div>
        </div>

        <!-- Event -->
        <!-- @TODO: Rich HTML5 snippet to give this meaning -->
        <div class="event finished is-hidden">
            <h5 class="event-title">Supermarché leclerc</h5>
            <p class="event-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis earum maiores eos culpa reprehenderit. Nam incidunt repudiandae, ipsa itaque eligendi modi quaerat accusamus laudantium quidem, qui quasi officiis sint!</p>
            <div class="event-date">
                <i class="icon-elt" bpSvg [svgName]="'calendar'"></i>
                <span>15 juin 2015 ( 9h - 19h )</span>
            </div>
            <div class="event-location">
                <i class="icon-elt" bpSvg [svgName]="'map'"></i>
                <span>Quai François Maurice, 75013 Paris</span>
            </div>
            <div class="event-contact">
                <i class="icon-elt" bpSvg [svgName]="'telephone'"></i>
                <a href="tel:+33243725100" class="phone-link">02 43 72 51 00</a>
            </div>
        </div>

        <p class="show-more-events is-hidden">
            <button type="button">Voir les évènements précédents</button>
        </p>
    </div>
</section>
