<section id="contact" class="contact-form">
    <div class="contact__message-form">
        <div class="row">
            <h4 class="contact__message-form-title columns">Un message, une question pour moi ? C'est par ici.</h4>
        </div>
        <!-- Find out how to get form and post from datas -->
        <form name="contactForm" id="contactForm" method="Post" (ngSubmit)="postMessage($event)" [formGroup]="contactForm" novalidate>
            <div class="row">
                <div class="small-12 large-6 columns">
                    <label>Nom et prénom
                        <input type="text" name="user_name" formControlName="name" placeholder="Nom et prénom">
                    </label>
                    <p *ngIf="contactForm.get('name').touched && contactForm.get('name').invalid" class="help-text alert">Le nom et prénom sont requis. (Minimum 5 caractères)</p>
                </div>
                <div class="small-12 large-6 columns">
                    <label>Email
                        <input type="email" name="user_email" placeholder="Email" formControlName="email">
                    </label>
                    <p *ngIf="contactForm.get('email').touched && contactForm.get('email').invalid" class="help-text alert">Adresse email invalide.</p>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <label>Message
                        <textarea placeholder="Votre message" name="content" cols="30" rows="4" formControlName="message"></textarea>
                    </label>
                    <p *ngIf="contactForm.get('message').touched && contactForm.get('message').invalid" class="help-text alert">Le contenu du message ne peut être vide. (Minimum 10 caractères)</p>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <button class="button large alert" [disabled]="contactForm.invalid || recaptchaValidation" type="submit">Ajouter</button>
                </div>
                <p *ngIf="feedback.display" [ngClass]="{'alert': !feedback.status, 'success': feedback.status}" class="help-text small-12 columns animated fadeInUp">
                    <i class="icon-elt" bpSvg [svgName]="(feedback.status) ? 'checked' : 'close'"></i>
                    <span class="feedback-mg" [innerHTML]="feedback.message"></span>
                </p>
                <!-- Debugger -->
                <div class="small-12 columns" *ngIf="false">
                    <button type="button" class="button large info" (click)="mockForm()">Mock form</button>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <div id="recaptcha-contact-page" class="g-recaptcha" data-recaptcha-callback="checkContactRecaptchaResponse"></div>
                </div>
            </div>
        </form>
    </div>
</section>
