
@keyframes bounceOut {
  0% {transform: scale(1);}
  25% {transform: scale(.95);}
  50% {opacity: 1; transform: scale(1.1);}
  100% {opacity: 0; transform: scale(.3);}
}

@mixin bounceOut($animation-duration, $animation-delay, $animation-function, $animation-fill, $animation-visibility) {
  @include animation-name(bounceOut);
  @include duration($animation-duration);
  @include delay($animation-delay);
  @include function($animation-function);
  @include fill-mode($animation-fill);
  @include visibility($animation-visibility);
}
