<footer class="slideInUp animated">
    <div class="page-footer"></div>
    <div id="footer" class="page-footer__content">

        <div class="contact row">

            <ul class="links small-12">
                <li class="links__item"><a href="{{fbUrl}}" target="_blank">Facebook</a></li>
                <li class="links__item"><a href="#">Mentions légales</a></li>
                <li class="links__item"><a href="mailto:{{authorEmail}}"><span>M' écrire</span></a></li>
            </ul>
            <p class="cp-rights small-12">copyright &copy;{{cprDate}} with blood by <a href="http://idready.fr" rel="noopener noreferrer" target="_blank">idready.fr</a></p>
        </div>
    </div>
</footer>
